body 	{
			background-color:lightgreen;
		}
p 		{
			font-family:arial;
			border: 3px solid blue;
			padding: 30px;
		}
strong 
		{
			color:black;
		}
		
h1		{
			font-size: 300%;
		}
.center {
			text-align: center;
			color: red;
		}